# Virtual environment
.venv/
bin/
include/
lib/
pyvenv.cfg

# Cache and temporary files
.cache*
__pycache__/
*.sqlite
*.log

# Configuration and secrets
.env
config.json

# Project specific
matrix/
submodules/